.skills {
    background-color: #a1f8b4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #118f11;
    text-transform: capitalize;
}

.line {
    width: 80px;
    border-color: #fff;
    margin-bottom: 50px;
}
