.contactMe {
    min-height: 80vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    width: 550px;
    max-width: 80vw;
    padding: 0 5px;
    margin: 10px;
    line-height: 1.5;
    font: medium 'Roboto';
}

.textarea {
    min-height: 150px;
}
.field:-webkit-autofill,
.field:-webkit-autofill:hover,
.field:-webkit-autofill:focus {
    border: 0;
    -webkit-text-fill-color: #1f1f20;
    -webkit-box-shadow: 0 0 0 1000px #fff5ec inset;
    transition: background-color 5000s ease-in-out 0s;
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
}


.error {
    color: red;
    font: medium 'Roboto';
    margin: 10px;
}
