@import './src/common/styles/sass/variables';

.App .chapter:nth-child(odd) {
    background-color: $bGSecondColor;
}

.App .chapter:nth-child(even) {
    background-color: $bGFirstColor;
}

.chapter {
    padding: 100px 0;
    @media screen and (max-width: 767px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}